/* FONTS */

:root{
    --rare__font: 'Montserrat', 'Arial', 'Arial Black', sans-serif;
    --secondary__font: 'Open Sans', 'Arial', 'Arial Black', sans-serif;
    --primary__font: 'Ubuntu', 'Arial', 'Arial Black', sans-serif;
    --regular: 400;
    --bold: 700;
    --black: 900;
}

/* STYLE */

ul,
p{
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-family: var(--primary__font);
    font-weight: var(--bold);
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--secondary__font);
    font-weight: var(--regular);
    font-size: 1.6rem;
    color: #201B2D;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    display: inline-block;
    padding: 20px 30px;
    background-color: transparent;
    color: #2E2A1B;
    font-size: 1.5rem;
    font-family: var(--rare__font);
    font-weight: var(--blak);
    border-radius: 5px;
    border: 5px solid #FFD429;
    position: relative;
    transition: background-color .3s ease-in-out,
                border-color .3s ease-in-out;
    z-index: 0;
}

.btn::before{
    content: '';
    width: 102%;
    height: 110%;
    border-radius: 5px;
    background-color: #FFD429;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: width .3s ease-in-out,
                height .3s ease-in-out;
}

.btn:hover::before{
    width: 90%;
    height: 70%;
}

/* NAV */

.header{
    background-image: linear-gradient(135deg, #4EBFFE, #378FD9);
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 62px;
    padding-bottom: 10px;
}

.nav__logo{
    display: block;
    width: 100px;
    height: 38px;
}

/* HERO */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text{
    max-width: 555px;
}

.hero__title{
    font-size: 3.7rem;
    margin-bottom: 50px;
    color: #fff;
}

.hero__title--span{
    font-family: var(--primary__font);
    font-family: var(--bold);
    font-size: 5rem;
}

.hero__par{
    color: #fff;
    margin-bottom: 45px;
    width: 400px;
}

.hero__img{
    width: 641px;
    height: 641px;
    overflow: hidden;
    flex-shrink: 0;
}

@media only screen and (max-width: 1050px){
    .hero__img{
        width: 550px;
        height: 550px;
    }
}

/* MAIN */

.content__main{
    padding-top: 110px;
    padding-bottom: 120px;
}

.main__title{
    font-size: 3rem;
    margin-bottom: 70px;
    text-align: center;

}

.main__features{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features__box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__box::before{
    content: '';
    display: block;
    flex-shrink: 0;
    width: 65px;
    height: 65px;
    background-color: transparent;
    background-image: url('../ico/icons8-time-machine-96.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 30px;
}

.features__box:nth-child(2):before{
    background-image: url('../ico/icons8-beach-96.svg');
}

.features__box:nth-child(3):before{
    background-image: url('../ico/icons8-launch-96.svg');
}

.features__title{
    font-size: 1.9rem;
    margin-bottom: 20px;
    text-align: center;
}

.features__par{
    text-align: center;
}

/* SUBSCRIBE */

.content__subscribe{
    padding-top: 105px;
    padding-bottom: 100px;
    background-color: #ECF3F8;
}

.subscribe__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__title{
    font-size: 3rem;
    margin-bottom: 55px;
    text-align: center;
}

.main__form{
    width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__form input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    padding: 20px 25px;
    margin-bottom: 15px;
    outline: 1px solid transparent;
}

.main__form .btn{
    width: 100%;
    cursor: pointer;
}

/* FOOTER */

.footer{
    padding: 65px 0;
    background-color: #164D7A;
}

.footer__container{
    display: flex;
    justify-content: center;
}

.footer__par{
    color: #fff;
    font-size: 1.4rem;
}

@media only screen and (max-width: 992px) {
    .container{
        width: 100%;
        padding: 0 80px;
    }

    .wrapper{
        flex-direction: column-reverse;
        padding-bottom: 120px;
    }

    .hero__img{
        width: 500px;
        height: 500px;
    }

    .hero__text{
        text-align: center;
    }

    .hero__par{
        margin: 0 auto;
        margin-bottom: 45px;
    }

    .main__features{
        align-items: flex-start;
    }
}
@media only screen and (max-width: 768px) {
    .main__features{
        flex-direction: column;
    }

    .features__box{
        width: 100%;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .features__box:last-child{
        margin-bottom: 0;
    }

    .features__title{
        text-align: start;
        margin-bottom: 10px;
    }

    .features__par{
        text-align: start;
    }

    .features__box::before{
        margin-bottom: 0;
        margin-right: 50px;
    }
}
@media only screen and (max-width: 576px) {
    .container{
        padding: 0 25px;
    }

    .hero__text,
    .hero__par,
    .btn{
        width: 100%;
    }

    .hero__img{
        width: 400px;
        height: 400px;
    }

    .content__main{
        padding: 100px 0;
    }

    .features__box{
        flex-direction: column;
        margin-bottom: 60px;
    }

    .features__box:last-child{
        margin-bottom: 0;
    }

    .features__title{
        text-align: center;
    }
    
    .features__par{
        text-align: center;
    }

    .features__box::before{
        margin-right: 0;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 400px) {
    html{
        font-size: 50%;
    }

    .hero__img{
        width: 300px;
        height: 300px;
    }

    .hero__title{
        margin-bottom: 20px;
    }

    .hero__par{
        margin-bottom: 20px;
    }

    .main__form{
        width: 100%;
    }

    .wrapper{
        padding-bottom: 100px;
    }
}